<html>
    <%-include('partials/head.html');%>

    <body>
        <header>
            <%-include('partials/navegacion.html');%>     
        </header>

        <div class="contenedor" style="background-image: url(img/Fondo.png); background-size: cover;">
            <div class="inicio">
                <div>
                    <div>
                        <h1>DIZAPAMA SE DIVERSIFICA</h1>
                        <p>En conjunto con el Arq. Oscar Burgueño Lizárraga, persona con amplia experiencia y desarrollador de sistemas de avanzada, estamos poniendo a su disposición las herramientas que nos permiten estar al día con el desarrollo tecnológico en el área de </p>
                    </div>
                    <div>
                        <h1>FOTOGRAMETRÍA</h1>
                        <p>Tecnología ésta, que nos permite complementar y auxiliar a las empresas y profesionistas de los ramos de estudios, proyectos, construcción, desarrollos urbanos y todo el que requiera de la geografía. </p>
                    </div>
                </div>
                <div style="height: 100%; width: 100%; background-image: url(img/foto.png); background-size: cover; background-position: center;">
                </div>
            </div>	 
        </div>
    
    <%-include('partials/footer.html');%>
    </body>
</html>