<html>
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>    
        </header>
        
        <div class="contenedor2">
            <h1>¿Quiénes somos?</h1>
            <p>Somos una empresa establecida en la ciudad de Mazatlán, Sinaloa que brinda apoyo a todas las obras de ingeniería, dependencias, empresas privadas y a independientes con el aporte técnico en proyectos y obras para el desarrollo del país.</p>
            <h4>Ubicación:</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1832.974209601426!2d-106.44907044177688!3d23.244963996210245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f54a38cca2c15%3A0xb352fd9266e7ca57!2sDe%20Las%20Torres%20100B%2C%20Lomas%20de%20Mazatl%C3%A1n%2C%2082110%20Mazatl%C3%A1n%2C%20Sin.!5e0!3m2!1ses-419!2smx!4v1636480345107!5m2!1ses-419!2smx allowfullscreen="loading="lazy"></iframe>
        </div> 
   
    <%-include('partials/footer.html');%>
    </body>
</html>