<html>
    <%-include('partials/head.html');%>

    <body>
        <header>
            <%-include('partials/navegacion.html');%>     
        </header>
        <div class="contenedor3"> 
                <div class="Servicios-div">
                    <center>
                        <h1>Nuestros servicios emprenden</h1>
                    </center>
                    <div class="servicios-emprende">
                        <div class="modelo-tri">
                            <h4>Modelos tridimensionales geoferenciados de alta definición</h4>
                            <div class="img-servicios">
                                    <img src="img/foto1.png">
                                    <img src="img/fondo1.png">	
                            </div>	
                        </div>
                        <div class="curvas">
                            <h4>Curvas de nivel y planos de las mismas</h4>
                            <div class="img-curvas">
                            <img src="img/curvas.png">
                            <img src="img/planos.png">
                            </div>
                        </div>
        
                        <div class="altimetría">
                            <h4>Altimetrías</h4>
                            <div class="img-alti">
                                <img src="img/altimetria.png">
                            </div>
                        </div>
        
                        <div class="ubicacion-puntos">
                                <h4>Ubicación de puntos</h4>
                                <div class="img-ubicacionpuntos">
                                    <img src="img/ubicacion-puntos.png">
                                </div>
                        </div>
        
                        <div class="planificacion">
                                <h4>Planificación y Diseño</h4>
                                <div class="img-planificacion">
                                    <img src="img/planificacion.png">
                                </div>
                        </div>	
        
                        <div class="calculo">
                            <h4>Calculo de Movimiento de Tierras y Volumeetría necesaria</h4>
                            <div class="img-calculo">
                                <img src="img/calculo.png">
                            </div>
                        </div>			
                    </div>	
                </div>
        </div>

    <%-include('partials/footer.html');%>    
    </body>
</html>