<html>
<body>
    <ul class="nav">
      <img src="img/logo.png" width="3%">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index" style="color: white;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Quienessomos" style="color: white;">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Servicios" style="color: white;">Servicios</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="Beneficios" style="color: white;">Beneficios</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="Contactanos" style="color: white;">Contactanos</a>
        </li> 
      </ul>    
</body>
</html>